.dropdown {
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --lightness: var(--clr-white-l);
  --shade: 0.5;
  --background: hsl(var(--clr-bw-hs) var(--lightness) / var(--shade));

  position: absolute;
  inset: 9rem 0 0;
  margin-inline: 4em;
  transform: translateY(0);
  background: var(--background);
  @supports (backdrop-filter: blur(1rem)) {
    --lightness: var(--clr-white-l);
    --shade: 0.3;

    background: var(--background);
    backdrop-filter: blur(0.2rem);
  }
  /* border: var(--border); */
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
  z-index: 1;

  & .menu {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    gap: 1em;
  }
}
