---
// Library Imports
import { Icon } from 'astro-icon';
---

<div>
  <a class="desktop" href="/">
    <Icon name="noaa-logo" class="logo" />
    <div class="text">
      <span class="title">National Oceanic and Atmospheric Administration</span>
      <span class="slogin">U.S. Department of Commerce</span>
    </div>
  </a>

  <a class="mobile" href="/">
    <Icon name="noaa-logo-mobile" class="logo" />
  </a>
</div>

<style>
  div {
    max-width: 25rem;
    z-index: 1;

    & .desktop {
      display: flex;
      gap: 0.3em;
      /* text-shadow: 0 0 1rem var(--clr-primary); */

      @media (--tablet) {
        display: none;
      }

      & .logo {
        width: 20%;
      }

      & .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        font-family: var(--ff-display);

        & .title {
          font-size: 1.2rem;
          line-height: 1.1;
        }

        & .slogin {
          font-size: 0.7rem;
          line-height: 1.7;
        }
      }
    }

    & .mobile {
      display: none;

      @media (--tablet) {
        display: block;
      }

      & .logo {
        width: 60%;
      }
    }
  }
</style>
