.search {
  --color-hs: inherit;
  --color-l: inherit;
  --color: hsl(var(--color-hs) var(--color-l));
  --border-size: inherit;
  --font-size: inherit;
  --size: inherit;
  --width: inherit;
  --display: inherit;
  --left: inherit;
  --top: inherit;
  --padding: inherit;

  position: relative;
  width: var(--width);
  z-index: 1;

  @media (--tablet) {
    width: calc(var(--width) - 30%);
    display: var(--display);
  }

  & label {
    position: absolute;
    left: var(--left);
    top: var(--top);
    z-index: 10;
    opacity: 0;
    transition: transform 300ms ease-out;
    color: var(--color);
    font-size: var(--font-size);
  }

  & .search-bar {
    border: var(--border-size) solid var(--color);
    /* border-bottom: var(--border-size) solid var(--color); */
    display: flex;
    border-radius: 5rem;
    padding: var(--border-size);
    position: relative;
    transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.15);
    overflow: hidden;
    animation: fadeIn 3s;
    color: var(--color);

    & input {
      font-size: var(--font-size);
      padding: var(--padding);
      border: 0;
      position: absolute;
      inset: 0;
      line-height: calc(var(--size) - 3px);
      cursor: pointer;
      background-color: transparent;
      color: inherit;

      /* TESTING */
      /* @media (--desktop) {
          font-size: var(--fs-1);
          padding: 0 0.2em 0 20%;
        } */
      &::placeholder {
        color: hsl(var(--color-hs) calc(var(--color-l) + 20%));
      }
      &:focus {
        outline: transparent;
      }
    }
    & button {
      font-size: var(--font-size);
      cursor: pointer;
      border: 0;
      border-radius: 50%;
      width: calc(var(--size) - 10px);
      height: calc(var(--size) - 10px);
      margin-left: auto;
      transition: background-color 150ms ease-in-out;
      background-color: transparent;
      color: inherit;
      padding: 0.1em 0 0 0.1em;

      [astro-icon] {
        color: inherit;
        width: var(--font-size);
      }
    }
    &:focus-within {
      & button {
        background-color: var(--clr-secondary);
        color: var(--color);
        &:is(:hover, :focus) {
          outline: transparent;
          box-shadow: 0 0 10px var(--color);
        }
      }
    }
  }
}
